* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#switch {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
}

#input {
    display: none;
}

#slider {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    background-color: white;
    border-radius: 44%;
}
#slider::before {
    content: "";
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px gray;
    transition: .4s;
}
#input:checked + #slider::before {
    transform: translateX(40px);
}
#input:checked + #slider {
    background-color: greenyellow;
}